<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--TinyFx配置节定义--> 
    <section name="tinyFx" type="TinyFx.Configuration.TinyFxSection, TinyFx"/>
    <!--Windows Server AppFabric Caching配置节定义-->
    <!--必须在hosts文件中加入 172.28.8.118  WebVM-TFS-->
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <tinyFx>
    <!--数据库操作模块-->
    <data defaultDatabase="LZBgAuthorityConn" errorLog="Error" dataRouter="" instProvider=""> 
      <connectionStrings>
           <!--新创建的数据库-->
        <add name="LZBgAuthorityConn" providerName="mysql" connectionString="Data Source=127.0.0.1;Initial Catalog=cmsdb;Charset=utf8;User ID=root;Password=thunder;" />
        <!--开发-->
        <!--<add name="LZBgAuthorityConn" connectionString="Data Source=172.28.9.172;Initial Catalog=WPTAdminDb;User ID=root;Password=123456;allow zero datetime=true" providerName="MySql.Data.MySqlClient"  />-->
         <!--qa-->
        <!--<add name="LZBgAuthorityConn" connectionString="Data Source=172.28.14.115;Initial Catalog=WPTAdminDb;User ID=wpt_rw;Password=EdBZvplUzW6go3aYj7ib;allow zero datetime=true" providerName="MySql.Data.MySqlClient"  />-->
        <!--<add name="LZBgAuthorityConn" connectionString="Data Source=139.196.5.69;Initial Catalog=nsgc;User ID=sdmj;Password=yiqihai@2017;allow zero datetime=true" providerName="MySql.Data.MySqlClient"  />-->
        
      </connectionStrings>
    </data>
  </tinyFx>
  <connectionStrings/>
  <appSettings>
    <add key="WebLoginURL" value="http://yiqihai.aizhidiaosu.com /login.aspx"/>
    <add key="WebErrorURL" value="http://yiqihai.aizhidiaosu.com /Framework/ErrorFF.aspx?type=2"/>
    <add key="WeiHuRoleName" value="平台维护工程师"/>
    <add key="UserEditName" value="用户管理管理员"/>
    <!--由于连接地址不同路径不同 所以线上为2 测试为3-->
    <add key="CastUrl" value="3"/>

    <!--与云平台通信用的消息队列-->
    <add key="ocMainServiceConnectionString" value="amqp://ocuser:ocuser@172.28.14.131:5672/oc"/>
    <!--上传图片，从云平台获取服务器配置信息-->
    <add key="AppName" value="LZManager"/>
    <add key="AppKey" value="517dbd367c1343709633b8c342c22736"/>
    <add key="SecretKey" value="b850d5516da84ec2ae71349bf1d71913"/>

    
    <!-- 邮件信息设置 -->
    <add key="emailServer" value="192.168.1.122"/>
    <add key="emailPort" value="25" />
    <add key="emailDomain" value=""/>
    <add key="EmailFromAddress" value="fish@lianzhong.com"/>
    <add key="emailLoginName" value=""/>
    <add key="emailLoginPwd" value=""/>
    <add key="UseDefaultCredentials" value="false" />
    
    <!-- 发送手机短信-->
    <add key="Constants" value="http://202.108.32.18:12388/websocket/smsdown" />
    
    <add key="ServerUrl" value="http://139.196.167.2:8888" />
    <add key="QrCodeUrl" value="http://wyx.aizhidiaosu.com/Wx/wxToBaby.ashx?roleid =" />
  </appSettings>
  <system.web>
    <!--<globalization responseEncoding="gb2312" requestEncoding="gb2312" culture="zh-CN"/>-->
    <!--<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>-->


    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="404" redirect="Framework/ErrorFF.aspx?type=3" />
    </customErrors>

    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
</configuration>