*
{
    font-size: 9pt;
}
html, body
{
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}
#main
{
    overflow: auto;
}
body a
{
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
input, button, select, textarea
{
    outline: none;
}
div, ul, li, dl, dt, dd, img, h1, h2
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border: 0;
}
#Container
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#Header
{
    height: 70px;
    background-image: url(../images/topbg.png);
}
#HeaderLogo
{
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    /*background: url(../images/bmslogo.png);*/
    height: 52px;
    width: 270px;
    display: inline;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bmslogo.png', sizingMethod='crop');
}
#weather
{
    position: absolute;
    z-index: 3000;
    right: 0%;
    top: 0%;
    width: auto;
    cursor: pointer;
}
#Headermenu
{
    float: right;
    margin-right: 2px;
}
/*Tabmenu
------------------------------------------------*/
#Headermenu div.removesel
{
    display: inline-block;
    width: 105px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 0px;
    margin-left: 2px;
    background: url(../images/top_title1.png) no-repeat left;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 11pt;
    font-weight: bold;
}
#Headermenu div.sel
{
    border: 0px;
    outline: none;
    display: inline-block;
    width: 105px;
    line-height: 38px;
    text-align: center;
    height: 38px;
    margin-left: 2px;
    background: url(../images/top_title.png) no-repeat left;
    vertical-align: bottom;
    float: left;
    cursor: pointer;
    color: #000000;
    font-size: 11pt;
    font-weight: bold;
}
#Headerbotton
{
    height: 25px;
    padding-top: 2px;
    border-bottom: 1px solid #ccc;
    background: #F7F7F7;
}
#Content
{
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
    padding: 1px;
}
#left_title
{
    float: left;
    height: 100%;
    text-align: center;
    width: 180px;
    line-height: 22px;
    color: #222;
    font-weight: bold;
}
#conten_title
{
    height: 100%;
    text-align: left;
    padding-left: 2px;
    color: #222;
    width: auto;
    font-weight: bold;
}
#MainContent
{
    height: 100%;
    width: 100%;
}
#botton_toolbar
{
    height: 25px;
    line-height:23px;
    border-top: 1px solid #ccc;
    background: #F7F7F7;
    width:100%;
   /** background-image: url(../images/Headerbotton.png);**/
}
.navigation
{
    padding-top: 2px;
    width: 180px;
    _width: 180px; /*兼容IE6*/
    height: 100%;
    border-right: 1px solid #ccc;
    margin-right: 0;
    float: left;
    vertical-align: bottom;
    position: relative;
}
.navPanelMini
{
    padding: 10px;
    margin-right: 0;
    overflow: auto;
    scrollbar-face-color: #e4e4e4;
    scrollbar-heightlight-color: #f0f0f0;
    scrollbar-3dlight-color: #d6d6d6;
    scrollbar-arrow-color: #240024;
    scrollbar-darkshadow-color: #d6d6d6;
}
.navPanelMini div
{
    padding: 5px 15px;
    padding-right: 0px;
    display: block;
    color: #000000;
    border: solid 1px #ffffff;
    margin-bottom: 1px;
    cursor: pointer;
}
.navPanelMini div img
{
    padding-right: 5px;
    height: 22px;
    width: 22px;
    border: 0px;
    background-position: 0 0;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
}
.navPanelMini .navHover
{
    background2: #D0E5F5;
    background1: #FBEC88;
    background: #e0eccc;
    border: solid 1px #ada9aa;
}
.navPanelMini .selected
{
    border: solid 1px #ccc;
    background2: #D0E5F5;
    background1: #FBEC88;
    background: #e0eccc;
}
.navSelect
{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.navSelect div
{
    height: 22px;
    line-height: 20px;
    display: block;
    padding: 5px;
    background-image: url('../images/nav_link.gif');
    background-repeat: repeat-x;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.navSelect .navHover
{
    height: 20px;
    line-height: 18px;
    padding-left: 4px;
    color: #FFF;
    border: solid 1px #3399dd;
    background: #2288cc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #33bbee, #2288cc);
    background: -moz-linear-gradient(top, #33bbee, #2288cc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
    text-shadow: -1px -1px 1px #1c6a9e;
}
.navSelect .selected
{
    height: 20px;
    line-height: 18px;
    padding-left: 4px;
    color: #FFF;
    border: solid 1px #3399dd;
    background: #2288cc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #33bbee, #2288cc);
    background: -moz-linear-gradient(top, #33bbee, #2288cc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
    text-shadow: -1px -1px 1px #1c6a9e;
}
.navSelect img
{
    vertical-align: middle;
    margin: -2px 5px 0px 0px;
}
/* 钢琴菜单 end */
.side_switch
{
    width: 10px;
    height: 41px;
    position: absolute;
    left: 173px;
    z-index: 9999;
    top: 350px;
    cursor: pointer;
    background: url(../images/close_side_ico.jpg) no-repeat left center;
}
.side_switchl
{
    width: 10px;
    height: 41px;
    position: absolute;
    z-index: 9999;
    top: 350px;
    display: none;
    cursor: pointer;
    background: url(../images/close_side_icol.jpg) no-repeat left center;
}
/*动态Tab
------------------------------------------------*/
.Tab-div
{
    float: left;
    width: auto;
    margin-right: 90px;
}
.Tab-left
{
    display: inline-block;
    background: url('../images/tab_left.png') no-repeat top left;
    padding: 0px 0px 4px 10px;
    height: 22px;
}
.Tab-left-set
{
    background: url('../images/tab_leftSet.png') no-repeat top left;
    display: inline-block;
    padding: 0px 0px 4px 10px;
    height: 22px;
}
.Tab-right
{
    background: url('../images/tab_right.png') no-repeat top right;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    height: 26px;
    line-height: 24px;
    padding-right: 15px;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 999;
}
.Tab-right-set
{
    background: url('../images/tab_rightSet.png') no-repeat top right;
    color:White;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    height: 26px;
    line-height: 24px;
    padding-right: 15px;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 999;
}
.Tab-right img
{
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    padding-bottom:1px;
}
.Tab-right-set img
{
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    padding-bottom:1px;
}
