<div class="sidebar">
  <div class="clearfix k1120">
    <div class="navBox" id="openSidebar"> <a href="javascript:void(0)" class="navOpen"></a> </div>
    <div id="menu">
      <ul class="clearfix">
        <li><a href="{:url('Index/index')}#home" class="nav_home current"><span>首页<br />
          <b>Home</b></span></a> </li>
        <li><a href="{:url('Index/index')}#services" class="nav_services"><span>服务范围<br />
          <b>Services</b></span></a> </li>
        <li><a href="{:url('Index/index')}#case" class="nav_case"><span>案例展示<br />
          <b>Case</b></span></a> </li>
        <li><a href="{:url('Index/index')}#about" class="nav_about"><span>关于我们<br />
          <b>About us</b></span></a> </li>
        <li><a href="{:url('Index/index')}#news" class="nav_news"><span>新闻动态<br />
          <b>News</b></span></a> </li>
        <li><a href="{:url('Index/index')}#contact" class="nav_contact"><span>联系我们<br />
          <b>Contact us</b></span></a> </li>
      </ul>
    </div>
  </div>
</div>